<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>LoginPMHttpServlet</servlet-name>
        <servlet-class>controller.LoginPMHttpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditAccountHttpServlet</servlet-name>
        <servlet-class>controller.EditAccountHttpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterPMHttpServlet</servlet-name>
        <servlet-class>controller.RegisterPMHttpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TaskSectionHttpServlet</servlet-name>
        <servlet-class>controller.TaskSectionHttpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubTaskDescHttpServlet</servlet-name>
        <servlet-class>controller.SubTaskDescHttpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubDescEditHttpServlet</servlet-name>
        <servlet-class>controller.SubDescEditHttpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProjectPictureHttpServlet</servlet-name>
        <servlet-class>controller.ProjectPictureHttpServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginPMHttpServlet</servlet-name>
        <url-pattern>/LoginPMHttpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditAccountHttpServlet</servlet-name>
        <url-pattern>/EditAccountHttpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterPMHttpServlet</servlet-name>
        <url-pattern>/RegisterPMHttpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TaskSectionHttpServlet</servlet-name>
        <url-pattern>/TaskSectionHttpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubTaskDescHttpServlet</servlet-name>
        <url-pattern>/SubTaskDescHttpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubDescEditHttpServlet</servlet-name>
        <url-pattern>/SubDescEditHttpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProjectPictureHttpServlet</servlet-name>
        <url-pattern>/ProjectPictureHttpServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
